{% extends "index.html" %}

{% block header %}
    {{ super() }}
    <form method='post'>		
		<a id='home' href="/blog">
			<button type="button" name="logout">Home</button>
		</a>
	</form>	
{% endblock %}

{% block content %}
    <form id="add-new-post" method="post">
		<label>
			<div>
				<h3>Edit your post</h3>
			</div>
			<textarea rows="7" maxlength="1000" name="content" autofocus>{{content}}</textarea>
		</label>

		<div class="error">{{error}}</div>
		
		<div class="write-post-buttons">
			<input type="submit">
			<a  href="/blog">
				<button class="cancelbut" type="button" name="cancel">Cancel</button>
			</a>
		</div>
	</form>
{% endblock %}