{% extends "index.html" %}

{% block header %}
    {{ super() }}
    {% if user %}
		<form method='post'>			
			<a id='home' href="/blog">
				<button type="button" name="logout">Home</button>
			</a>			
		</form>
	{% endif %}		
{% endblock %}

{% block content %}
    <form id="add-new-post" method="post">
		<label>				
			<h3>Edit your comment</h3>						
			<textarea rows="4" maxlength="500" name="comment_text" autofocus>{{comment_text}}</textarea>
		</label>

		<div class="error"><h4>{{error}}</h4></div>
		<div class="write-post-buttons">
			<input type="submit">
			<a  href="/blog">
				<button class="cancelbut" type="button" name="cancel">Cancel</button>
			</a>
		</div>
	</form>
{% endblock %}

