{% extends "index.html" %}

{% block header %}
    {{ super() }}
    {% if user %}
		<form method='post'>													
			<a id='register' href='/blog/signup'>
				<button type='button' name='register'>Register</button>
			</a>
		</form>
	{% endif %}		
{% endblock %}

{% block content %}
    <form id='add-new-post' method='post'>
		<label>
			Username
			<input type='text' name='username' value = '{{username}}' maxlength='40'>
		</label>
		
		<label>
			Password
			<input type='password' name='password' value = '{{user_password}}' maxlength='50'>
		</label>
		<div class='error'>{{verify_error}}</div>				
		
		<input type='submit'>
	</form>		
{% endblock %}