{% extends "index.html" %}

{% block header %}
    {{ super() }}
    {% if user %}
		<form method='post'>							
			<a id='home' href="/blog">
				<button type="button" name="logout">Home</button>
			</a>
		</form>
	{% endif %}		
{% endblock %}

{% block content %}
    <div class="col-xs-12 col-sm-12 col-md-12 form">
		<form id="add-new-post" method="post">
			<h3>
				<label>						
					Title					
					<input type="text" name="subject" value="{{subject}}" autofocus>
				</label> 
				
				<label>						
					Enter your post						
					<textarea rows="6" maxlength="1000" name="content">{{content}}</textarea>
				</label>
			</h3>
			
			<div class="error">{{error}}</div>
			
			<div class="write-post-buttons">
				<input type="submit">
				<a  href="/blog">
					<button class="cancelbut" type="button" name="cancel" >Cancel</button>
				</a>
			</div>
		</form>
	</div>
{% endblock %}
